/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 30px; }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px; }
  .header .btn-danger {
    margin: 5px; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2em;
  padding: 30px; }
  .jumbotron .btn-danger {
    margin-top: 1em; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px; }
  /* Space out the masthead */
  .header {
    padding-right: 0;
    padding-left: 0; }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }

#results ul {
  padding: 0 2em; }

#results li {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #eee; }

#results .loading-data {
  opacity: 0.5; }

.spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center; }
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: #337ab7;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
